
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
    overflow: visible;

}

/* Navegación */
nav {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde la izquierda */
    right: 10px; /* Ajusta la distancia desde la derecha */
    z-index: 2;
    padding: 10px; /* Añadido relleno para aumentar el espacio dentro del nav */
}

.logo img {
    width: 140px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

nav ul li:hover::after {
    transform: scaleX(1);
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Banner */
#banner {
    height: 100vh;
    position: relative;
    text-align: center;
    background-image: url(ong.jpg);
    background-size: cover;
    z-index: 1;

}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 

    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    

}

#banner h1 {
  font-size: 48px;

}

#banner p{
   font-size: 24px;
}

#banner iframe {
    width: 100%;
    height: 400px;
}

/* Sección "¿Qué hacemos?" (Nosotros) */
/* Estilos para la sección "¿Qué hacemos?" */
#nosotros {
    background-color: #858786;
    padding: 80px 20px;
    text-align: center;
}

#nosotros .section-content {
    max-width: 800px;
    margin: 0 auto;

}

#nosotros h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#nosotros p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1rem;
}

#nosotros iframe {
    width: 100%;
    height: 400px;
    border: 0; /* Elimina el borde del iframe */
}

/* Añadir un borde alrededor de la sección para resaltarla */
#nosotros .section-content {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color:  #6CD4FF;
}

/* Efecto de sombra para destacar la sección */
#nosotros .section-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección "Nuestro Trabajo" */
#trabajos {
    background-color: #AEF78E;
    color: black;
    padding: 50px;
    text-align: center;
}

#trabajos .section-content {
    max-width: 1000px;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 1.5rem;
}

.articles article{
    max-width: 320px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2)
        0px 7px 29px 0px;
}


.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.5);
}

.article-preview {
    padding: 1.5rem;
    background: white;
}

.articles figure{
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

/* Menú de navegación */
.menu {
    text-align: center;
    margin: 20px;
    padding: 0; /* Elimina el espacio interior del menú */
}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 0 5px; /* Ajusta el espacio entre los elementos del menú */
}

.menu li a {
    cursor: pointer;
    display: flex; /* Utiliza un contenedor flexible para centrar vertical y horizontalmente */
    align-items: center; /* Centra verticalmente dentro del contenedor flexible */
    justify-content: center; /* Centra horizontalmente dentro del contenedor flexible */
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    box-sizing: border-box;
}


#testimonios {
    background-color: #262626;
    padding: 80px 20px;
    text-align: center;
}



.section-content h2 {
    text-align: center;
    margin: 1rem;
}

/* Sección "Palabras de nuestros colaboradores" */
.testimonial-slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.testimonial-slider li {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.testimonial-slider li img {
    width: auto; /* Utiliza el ancho original de la imagen */
    height: 80vh;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    object-fit: cover;
}

.testimonial-slider li .nombre,
.testimonial-slider li .frase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.testimonial-slider li .frase {
    top: 70%; /* Ajusta la posición vertical de la frase */
}

.testimonial-slider li:first-child {
    display: block;
}

.testimonial-slider li:target {
    display: block;
}



/* Sección "Contacta con nosotros" */
#contactar {
    background-color: skyblue;
    color: #333;
    padding: 50px;
}

#contactar .section-content {
    max-width: 600px;
    margin: 0 auto;
}

#contactar form {
    display: grid;
    gap: 20px;
}

#contactar label {
    font-weight: bold;
}

#contactar select,
#contactar input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#contactar button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

.nav-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-section ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-section ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.social-section a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}
